.mainDiv {
  height: 100vh;
  background: url("https://files.ably.io/ghost/prod/2023/01/build-a-realtime-chat-app-from-scratch--1-.png");
}
.mainDivInner {
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}
.mainDivInner > div {
  width: 400px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.messageInput {
  appearance: none;
  border: none;
  outline: none;
  border: 2px solid #e91e63;
  background: none;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #fff;
  height: 50px;
  font-family: "Poppins", sans-serif;
  width: 300px;
}
.messageInput::focus,
.messageInput::active {
  background: none;
}
.sendMessageBtn {
  appearance: none;
  border: 2px solid #fff;
  background: hsl(0 0 0/0);
  color: #fff;
  border-radius: 0.2em 0.2em 0 0;
  transition: 1s;
  height: 50px;
  width: 300px;
}

.sendMessageBtn:hover,
.sendMessageBtn:focus,
.sendMessageBtn:active {
  cursor: pointer;
  background: #e91e63;
  color: #fff;
}
